[mysqld]

# General
port = {{ mysql_configuration.port }}
bind-address = {{ mysql_configuration.bind_address }}
datadir = {{ mysql_configuration.datadir }}
socket = {{ mysql_configuration.socket }}
max_connections = {{ mysql_configuration.max_connections }}
max_allowed_packet = {{ mysql_configuration.max_allowed_packet}}
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# InnoDB
innodb_buffer_pool_size = {{ mysql_configuration.innodb_buffer_pool_size }}
innodb_log_file_size = {{ mysql_configuration.innodb_log_file_size }}
innodb_log_buffer_size = {{ mysql_configuration.innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mysql_configuration.innodb_flush_log_at_trx_commit }}
innodb_flush_method = {{ mysql_configuration.innodb_flush_method }}
{% if mysql_configuration.innodb_buffer_pool_dump_at_shutdown %}
innodb_buffer_pool_dump_at_shutdown=1
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_pct = {{ mysql_configuration.innodb_buffer_pool_dump_pct }}
{% endif %}

# replication
server_id = {{ ansible_hostname | regex_replace('mysql', '') }}
log_bin = {{ mysql_configuration.log_bin }}
log-bin-index = {{ mysql_configuration.log_bin_index }}
expire_logs_days = {{ mysql_configuration.expire_logs_days }}
max_binlog_size = {{ mysql_configuration.max_binlog_size }}
binlog_format = {{ mysql_configuration.binlog_format }}
slave_compressed_protocol = {{ mysql_configuration.slave_compressed_protocol }}
gtid_mode=ON
enforce-gtid-consistency=true
master_info_repository=TABLE

{% if ansible_hostname == "mysql2" %}
# Readonly mysql2
read_only
relay-log = relay-bin
relay-log-index = relay-bin.index
relay_log_info_repository=TABLE
{% endif %}

{% if mysql_configuration.skip_name_resolve %}
skip-name-resolve
{% endif %}
{% if mysql_configuration.performance_schema %}
performance_schema=ON
{% endif %}

{% if mysql_configuration.slow_query_log %}
# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mysql_configuration.slow_query_log_file }}
long_query_time = {{ mysql_configuration.slow_query_time }}
{% endif %}

# Per connection buffers
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
